# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Airflow
airflow.cfg
unittests.cfg
airflow.db
webserver_config.py
logs/

# DB
mariadb_data/
